{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <style>
        .vehicle-type-select-button input {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container d-flex justify-content-center" id="vehicle-type-wrapper">
            <div class="d-flex justify-content-center align-items-center vehicle-type-select-button">
                <input type="radio" id="car-button" name="vehicle-type-selector" value="Car" class="btn btn-primary"
                       checked>
                <label for="car-button" class="btn btn-primary">Car</label>
            </div>

            <div class="d-flex justify-content-center align-items-center vehicle-type-select-button">
                <input type="radio" id="motorbike-button" name="vehicle-type-selector" value="Motorbike"
                       class="btn btn-primary">
                <label for="motorbike-button" class="btn btn-primary">Motorbike</label>
            </div>

            <div class="d-flex justify-content-center align-items-center vehicle-type-select-button">
                <input type="radio" id="cv-button" name="vehicle-type-selector" value="Commercial Vehicle"
                       class="btn btn-primary">
                <label for="cv-button" class="btn btn-primary">Commercial Vehicle</label>
            </div>
        </div>
        <div class="container">
            <form action="" id="vehicle-select-form" method="GET">
                <select name="brand-select" id="brand-select" class="form-select" data-placeholder-text="Brand"
                        required>
                    <option value="" disabled selected>Select Brand</option>
                    {% for brand in brands %}
                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                    {% endfor %}
                </select>

                <select name="model-select" id="model-select" class="form-select" data-placeholder-text="Model"
                        disabled required>
                    <option value="" disabled selected>Select Model</option>
                </select>

                <select name="type-select" id="type-select" class="form-select" data-placeholder-text="Type" disabled
                        required>
                    <option value="" disabled selected>Select Type</option>
                </select>

                <select name="displacement-select" id="displacement-select" class="form-select"
                        data-placeholder-text="Displacement" disabled hidden="hidden">
                    <option value="" disabled selected>Select Displacement</option>
                </select>

                <select name="year-select" id="year-select" class="form-select" data-placeholder-text="Year" disabled
                        hidden="hidden">
                    <option value="" disabled selected>Select Year</option>
                </select>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        const wrapper = document.getElementById('vehicle-type-wrapper');
        let vehicleType = "Car";
        const form = document.getElementById('vehicle-select-form')
        const brandSelect = document.getElementById('brand-select');
        const modelSelect = document.getElementById('model-select');
        const typeSelect = document.getElementById('type-select');
        const displacementSelect = document.getElementById('displacement-select');
        const yearSelect = document.getElementById('year-select');

        function fetchBrands(vehicleType) {
            return fetch('/api/brands/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Vehicle-Type': vehicleType,
                }
            }).then(r => {
                if (!r.ok) throw new Error('Failed to fetch brands.');
                return r.json();
            }).then(data => {
                return data;
            }).catch(err => console.error('Error loading brands:', err));
        }

        function fetchModels(vehicleType, brandId) {
            return fetch('/api/models/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Vehicle-Type': vehicleType,
                    'Brand-Id': brandId
                }
            }).then(r => {
                if (!r.ok) throw new Error('Failed to fetch models.');
                return r.json();
            }).then(data => {
                return data;
            }).catch(err => console.error('Error loading models:', err));
        }

        function fetchTypes(vehicleType, brandId, modelId) {
            return fetch('/api/types/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Vehicle-Type': vehicleType,
                    'Brand-Id': brandId,
                    'Model-Id': modelId
                }
            }).then(r => {
                if (!r.ok) throw new Error('Failed to fetch types.');
                return r.json();
            }).then(data => {
                return data;
            }).catch(err => console.error('Error loading types:', err));
        }

        function fetchDisplacements(vehicleType, brandId, modelId) {
            return fetch('/api/displacements/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Vehicle-Type': vehicleType,
                    'Brand-Id': brandId,
                    'Model-Id': modelId
                }
            }).then(r => {
                if (!r.ok) throw new Error('Failed to fetch displacements.');
                return r.json();
            }).then(data => {
                return data;
            }).catch(err => console.error('Error loading displacements:', err));
        }

        function fetchYears(vehicleType, brandId, modelId, displacementId) {
            return fetch('/api/years/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Vehicle-Type': vehicleType,
                    'Brand-Id': brandId,
                    'Model-Id': modelId,
                    'Displacement-Id': displacementId
                }
            }).then(r => {
                if (!r.ok) throw new Error('Failed to fetch years.');
                return r.json();
            }).then(data => {
                return data;
            }).catch(err => console.error('Error loading years:', err));
        }

        function getSelectedSlug(select) {
            const selectedOption = select.options[select.selectedIndex];
            return selectedOption?.dataset?.slug || '';
        }

        function normalizeVehicleType(type) {
            return type.toLowerCase().replace(/\s+/g, '-');
        }

        function setVisibility(element, show) {
            element.hidden = !show;
            element.required = show;
        }

        function resetSelect(select) {
            const placeholderText = select.dataset.placeholderText;
            select.innerHTML = ''

            const defaultOption = document.createElement('option');
            defaultOption.text = `Select ${placeholderText}`;
            defaultOption.selected = true;
            defaultOption.disabled = true;
            defaultOption.value = "";
            select.appendChild(defaultOption);

            select.disabled = true
        }

        function populateSelect(select, data, valueKey = 'id', textKey = 'name', slugKey = 'slug') {
            select.innerHTML = '';
            resetSelect(select);

            data.forEach(item => {
                const option = document.createElement('option');
                option.value = item[valueKey];
                option.textContent = item[textKey];

                if (item[slugKey]) {
                    option.dataset.slug = item[slugKey];
                }

                select.appendChild(option);
            });

            select.disabled = false;
        }

        wrapper.addEventListener('change', async (e) => {
            const el = e.target;
            if (el.matches('input[name="vehicle-type-selector"]')) {
                vehicleType = el.value;
                let brandsData = await fetchBrands(vehicleType);

                resetSelect(modelSelect);
                resetSelect(typeSelect);
                resetSelect(displacementSelect);
                resetSelect(yearSelect);

                populateSelect(brandSelect, brandsData);

                if (vehicleType === "Motorbike") {
                    setVisibility(displacementSelect, true);
                    setVisibility(yearSelect, true);
                    setVisibility(typeSelect, false);
                } else {
                    setVisibility(displacementSelect, false);
                    setVisibility(yearSelect, false);
                    setVisibility(typeSelect, true);
                }
            }
        });

        brandSelect.addEventListener('change', async () => {
            const brandId = brandSelect.value;
            let modelsData = await fetchModels(vehicleType, brandId);

            resetSelect(modelSelect);
            resetSelect(typeSelect);
            resetSelect(displacementSelect);
            resetSelect(yearSelect);

            populateSelect(modelSelect, modelsData, 'id', 'title');
        });

        modelSelect.addEventListener('change', async () => {
            const brandId = brandSelect.value;
            const modelId = modelSelect.value;
            resetSelect(typeSelect);
            resetSelect(displacementSelect);
            resetSelect(yearSelect);

            if (vehicleType === "Motorbike") {
                let displacementsData = await fetchDisplacements(vehicleType, brandId, modelId);
                populateSelect(displacementSelect, displacementsData, 'id', 'value');
            } else {
                let typesData = await fetchTypes(vehicleType, brandId, modelId);
                populateSelect(typeSelect, typesData, "id", "title");
            }
        });

        displacementSelect.addEventListener('change', async () => {
            const brandId = brandSelect.value;
            const modelId = modelSelect.value;
            const displacementId = displacementSelect.value;
            resetSelect(yearSelect);

            let yearsData = await fetchYears(vehicleType, brandId, modelId, displacementId);
            populateSelect(yearSelect, yearsData, 'id', 'value')
        });

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const normalizedVehicleType = normalizeVehicleType(vehicleType);
            let slug, vehicleId;

            if (vehicleType === "Motorbike") {
                slug = getSelectedSlug(yearSelect);
                vehicleId = yearSelect.value;
            } else {
                slug = getSelectedSlug(typeSelect);
                vehicleId = typeSelect.value;
            }

            const url = `/catalogue/${normalizedVehicleType}/${slug}/${vehicleId}`;
            window.location.href = url;
        });

    </script>
{% endblock %}