<div class="card row w-100 mb-3 mx-0" style="width: 18rem;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center p-0">
            <div>
                <h5 class="fw-bold text-danger p-0 m-0">{{ product.name }}</h5>
{#                <h5 class="card-title p-0 m-0">{{ product.sku }}</h5>#}
            </div>
            {% if product.price %}
                <p class="fs-5">
                    <span class="badge bg-danger text-white">
                        <strong>{{ product.price }} MKD</strong>
                    </span>
                </p>
            {% endif %}
        </div>

        <hr class="my-3">

        <div class="d-flex justify-content-between align-items-center p-0">
            <div class="container-fluid row p-0 m-0">
                {% for attr in product.product_attributes.all %}
                    <div class="col-auto ps-0">
                        <p class="p-0 m-0">
                            {{ attr.attribute.name }}:
                            <span class="fw-bold">{{ attr.value_text }}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center p-0 my-1">
            <div class="d-flex align-items-center p-0 m-0">
                {% for image in product.images.all %}
                    <a href="{{ image.image.url }}"
                       class="btn btn-link p-0 {% if not forloop.first %}ms-2{% endif %} m-0 text-danger"
                       style="text-decoration:none">
                        {{ image.name|default:"Image" }}
                    </a>
                {% endfor %}
            </div>
            <div class="d-flex align-items-center p-0 m-0">
                {% if product.ean %}
                    <p class="p-0 m-0 text-secondary">EAN: {{ product.ean }}</p>
                {% endif %}
                <button class="btn btn-danger text-white ms-1">Add to Cart</button>
            </div>
        </div>
    </div>
</div>